<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>learnIDIOMA</h1>
    <h2>HOMEPAGE</h2>
    

    <div>
      <form method="POST" action="/home">
        <label>Search Your Language </label>
        <input type="text" name="url" placeholder="Hindi" />
        <button type="submit">Search</button>
      </form>
    </div>
    <div style="margin-top: 30px">
      <!-- fetch teacher profile in cards using bootstrap -->
      </div>
      
  </body>
</html>
