<%- include('layout', { body: `
  <div> 
      <form method="POST" action="/user/login" class="bg-blue-400 p-12 w-3/4 mx-auto">
       <input class="block mb-2 w-3/4 p-2 mx-auto" placeholder="Email addresss" type="email" name="email" id="email"/>
       <input class="block mb-2 w-3/4 p-2 mx-auto" placeholder="Password" type="password" name="password" id="passowrd"/>
       <button type="submit" class="bg-blue-800 p-2 w-3/4 ml-20 text-white">Login</button>
      </form>
    </div>
    
  ` }) %>